/* Styles for the main services container */
.services {
    background-image: var(--second-gradient);
}

/* Styles for the swiper wrapper */
.swiper-wrapper {
    margin-bottom: 52px;
}

/* Styles for the services container */
.services__container {
    text-align: center;
}

/* Styles for the services subtitle */
.services__subtitle {
    color: var(--title-color);
    font-size: var(--tiny-font-size);
    font-weight: 700;
    margin-bottom: 65px;
    display: block;
}

/* Styles for the services title */
.services__title {
    font-size: var(--h4-font-size);
    margin-bottom: 15px;
}

/* Styles for the services description */
.services__description {
    min-height: 175px;
    border-radius: 18px;
}

/* Styles for the pagination bullets container */
.swiper-horizontal > .swiper-pagination-bullets {
    width: auto;
    position: relative;
    display: inline-block;
}

/* Styles for the line before the pagination bullets */
.swiper-horizontal > .swiper-pagination-bullets::before {
    content: '';
    position: absolute;
    right: 0;
    top: 46%;
    transform: translateY(50%);
    height: 2px;
    width: 100%;
    background-color: var(--title-color);
}

/* Styles for the pagination bullets */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    border: 2px solid var(--title-color);
    background-color: var(--container-color);
    z-index: 1;
    position: relative;
    opacity: 1;
    margin: 0;
    transition: all 0.3s var(--transition);
}

/* Styles for the non-last pagination bullets */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
    margin-right: 20px;
}

/* Styles for the active pagination bullet */
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
    width: 13px;
    height: 13px;
    top: 2px;
}