/* The .testimonials class sets the background image for the testimonials section */
.testimonials {
    background-image: var(--third-gradient);
}

/* The .testimonials__container class centers the text within the testimonials container */
.testimonials__container {
    text-align: center;
}

/* The .testimonial__header class sets the position of the testimonial header to relative */
.testimonial__header {
    position: relative;
}

/* The .testimonial__img class styles the testimonial images */
.testimonial__img {
    height: 180px;
    width: 100%;
    border-radius: 18px;
    object-fit: cover;
    margin-bottom: 30px;
    vertical-align: middle;
}

/* The .testimonial__icon class styles the testimonial icon */
.testimonial__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 66px;
    height: 66px;
    background: var(--container-color);
    border-bottom-right-radius: 18px;
}

/* The .testimonial__description class sets a minimum height for the testimonial description */
.testimonial__description {
    min-height: 110px;
}

/* The .testimonial__name class styles the testimonial name */
.testimonial__name {
    font-size: var(--largest-font-size);
    margin-top: 30px;
}